<header class="px-4 sm:px-6 lg:px-8"></header>
<main class="px-4 py-10 sm:px-6 lg:px-8">
  <div class="container">
    <.flash kind={:info} title="Success!" flash={@flash} />
    <.flash kind={:error} title="Error!" flash={@flash} />
    <.flash
      id="disconnected"
      kind={:error}
      title="We can't find the internet"
      close={false}
      autoshow={false}
      phx-disconnected={show("#disconnected")}
      phx-connected={hide("#disconnected")}
    >
      Attempting to reconnect...
    </.flash>
    <%= @inner_content %>
  </div>
</main>
