<div class="container is-fluid">
  <div class="columns is-desktop">
    <div class="column is-one-quarter-fullhd is-one-third-desktop">
      <div class="columns">
        <div class="column">
          <%= live_component @socket, Covid19Web.ControlComponent, dates: @dates, selected_index: @selected_index %>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <%= live_component @socket, Covid19Web.SummaryComponent, data: @summary_data %>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <%= live_component @socket, Covid19Web.PieChartComponent, id: :world_pie_chart, data: @summary_data %>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <%= live_component @socket, Covid19Web.TimelineComponent %>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="columns">
        <div class="column">
          <%= live_component @socket,
            Covid19Web.CountrywiseSummaryComponent,
            id: :world_countrywise_summary,
            data: @country_data,
            type_heading: "Country or Regional Table (World)",
            type_name: "Country/Region",
            type_attr: :country_or_region%>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <%= live_component @socket, Covid19Web.CountryMapComponent, id: :world_country_map, data: @location_data %>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <%= live_component @socket,
            Covid19Web.CRDChartComponent,
            id: :world_confirmed_chart,
            heading: "Confirmed Cases",
            type: "confirmed",
            data: @world_summary %>
        </div>
        <div class="column">
          <%= live_component @socket,
            Covid19Web.CRDChartComponent,
            id: :world_deaths_chart,
            heading: "Mortality Count",
            type: "deaths",
            data: @world_summary %>
        </div>
        <div class="column">
          <%= live_component @socket,
            Covid19Web.CRDChartComponent,
            id: :world_recovery_chart,
            heading: "Recoveries",
            type: "recovered",
            data: @world_summary %>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <%= live_component @socket, Covid19Web.DailyTableComponent, id: :world_daily_table, data: @world_summary %>
        </div>
      </div>
    </div>
  </div>
</div>
