<div class="container is-fluid">
  <div class="columns is-desktop">
    <div class="column is-one-quarter-fullhd is-one-third-desktop">
      <div class="columns">
        <div class="column">
          <%= live_component @socket,
                ControlComponent,
                id: :world_dashboard_control,
                data: data_for_selected_date(@world_summary, @dates, @selected_index),
                dates: @dates,
                selected_index: @selected_index
              %>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <%= live_component @socket,
                SummaryComponent,
                id: :world_summary,
                data: data_for_selected_date(@world_summary, @dates, @selected_index)
              %>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <%= live_component @socket,
                PieChartComponent,
                id: :world_pie_chart,
                data: data_for_selected_date(@world_summary, @dates, @selected_index)
              %>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <%= live_component @socket, TimelineComponent %>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="columns">
        <div class="column">
          <%= live_component @socket,
                  CountrywiseSummaryComponent,
                  id: :world_countrywise_summary,
                  data: country_data_for_selected_date(@dates, @selected_index),
                  type_heading: "Country or Regional Table (World)",
                  type_name: "Country/Region",
                  type_attr: :country_or_region
                %>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <%= live_component @socket,
                CountryMapComponent,
                id: :world_country_map,
                data: location_data_for_selected_date(@dates, @selected_index)
              %>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <%= live_component @socket,
                CaseChartComponent,
                id: :world_new_case_chart,
                data: @world_summary %>
        </div>
        <div class="column">
          <%= live_component @socket,
                DeathChartComponent,
                id: :world_death_chart,
                data: @world_summary %>
        </div>
        <div class="column">
          <%= live_component @socket,
                RecoveredChartComponent,
                id: :world_recovered_chart,
                data: @world_summary %>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <%= live_component @socket,
                DailyTableComponent,
                id: :world_daily_table,
                data: @world_summary
              %>
        </div>
      </div>
    </div>
  </div>
</div>
