<div
    class="card"
    phx-hook="RecoveredChart"
    data-statistics="<%= Jason.encode! @data %>"
    data-log="<%= Jason.encode! @is_log %>">
  <div class="card-content">
    <p class="title is-5 is-uppercase has-text-centered">Recoveries</p>
    <p class="subtitle is-6 is-uppercase has-text-centered has-text-monospace">
      <%= Enum.at(@data, 0).date |> fmt() %> -
      <%= Enum.at(@data, -1).date |> fmt() %>
    </p>
    <div phx-update="ignore">
      <p class="title is-6 is-uppercase has-text-centered">New Recoveries</p>
      <div id="new-recovered-chart" style="height: 180px"></div>
    </div>
    <div style="height: 20px"></div>
    <div phx-update="ignore">
      <p class="title is-6 is-uppercase has-text-centered">Cumulative Recoveries</p>
      <div id="cumulative-recovered-chart" style="height: 180px"></div>
    </div>

    <p class="has-text-centered has-text-monospace">
      <span phx-click="toggle-log-chart" phx-target="<%= @myself %>">
        <%= @is_log && "Show Linear" || "Show Logarithmic" %>
      </span>
    </p>
  </div>
</div>
