@charset "utf-8";

@tailwind base;
@tailwind components;

// APPLIED CLASSES
.columns {
  @apply mt-3 mx-3;
}

.column {
  @apply flex w-full;
}

.card {
  @apply bg-white p-4 w-full flex flex-col rounded-xl;
}

.card-title {
  @apply text-center text-xl leading-10 uppercase;
}

.info-card {
    @apply card flex flex-col content-center items-center justify-center;
    .heading {
      @apply text-xs uppercase;
    }
    .value {
      @apply text-3xl;
    }
    .sub-value {
      @apply text-base;
    }
}

.subtitle {
  @apply text-center text-lg leading-loose uppercase;
}

.btn {
    @apply 
      bg-white 
      text-sm 
      text-blue-500 
      hover:bg-blue-300 
      hover:text-white 
      rounded-lg
      px-4 
      py-2 
      mx-0;
  }

a {
  @apply text-blue-600 underline;
}

.footer {
  @apply flex-grow bg-white p-6;
}

.table-container {
    table {
      @apply shadow-lg bg-white w-full;
    }
    th {
      @apply border text-left p-2 bg-gray-200 text-gray-600 text-center;
    }
    td {
      @apply border p-3;
    }
  }


.button-group {
  .button-left {
    @apply 
      bg-white 
      text-sm 
      text-blue-500 
      hover:bg-blue-500 
      hover:text-white 
      border 
      border-r-0 
      border-blue-500 
      rounded-l-lg 
      px-4 
      py-2 
      mx-0 
      outline-none;
  }
  .button {
    @apply 
      bg-white 
      text-sm 
      text-blue-500 
      hover:bg-blue-500 
      hover:text-white 
      border 
      border-r-0 
      border-blue-500  
      px-4 
      py-2 
      mx-0 
      outline-none;
  }
  .button-right {
    @apply 
      bg-white 
      text-sm 
      text-blue-500 
      hover:bg-blue-500 
      hover:text-white 
      border 
      border-blue-500 
      rounded-r-lg 
      px-4 py-2 
      mx-0 
      outline-none;
  }

  .is-active {
    @apply bg-blue-500 text-white;
  }

  .is-active-bad {
    @apply bg-red-500 border-red-500 text-white hover:bg-red-500 hover:border-red-500;
  }

}

@tailwind utilities;

@import "./theme.scss";
@import "nprogress.scss";

html {
  background: $clouds;
}
