@import "colors";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&display=swap');

$family-sans-serif: "IBM Plex Sans", sans-serif;
$primary: $amethyst;
$danger: $alizarin;
$success: $nephritis;
$info: $peter-river;
$warning: $pumpkin;
$body-background-color: $clouds;
$link: $belize-hole;