<div >
  <table class="table is-bordered is-narrow">
    <thead>
      <tr>
        <td>
          <div class="column is-one-fifth has-text-right">
            <a href="#" phx-click="prev-month" phx-target="<%= @myself %>">
              <i class="fas fa-arrow-left"></i>
            </a>
          </div>
        </td>
        <td colspan="5">
          <div class="column has-text-centered">
            <p class="title is-5">
              <%= Timex.format!(@cursor_date, "%B %Y", :strftime) %>
            </p>
          </div>
        </td>
        <td>
          <div class="column is-one-fifth has-text-left">
            <a href="#" phx-click="next-month" phx-target="<%= @myself %>">
              <i class="fas fa-arrow-right"></i>
            </a>
          </div>
        </td>
      </td>
    </tr>
    <tr>
      <%= for day_name <- @day_names do %>
        <th class="p-2 is-info">
          <%= day_name %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= for week <- @week_rows do %>
      <tr>
        <%= for day <- week do %>
          <%= live_component @socket,
              CalendarDayComponent,
              day: day,
              current_date: @current_date,
              cursor_date: @cursor_date,
              dates: @dates
            %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
