<div class="card">
  <div class="card-content">
    <p class="title is-5 is-uppercase">Summary by Date</p>
    <div class="table-container" style="max-height: 450px; overflow: auto">
      <table class="table is-striped is-narrow is-fullwidth">
        <thead>
          <tr>
            <th>#</th>
            <th>
              <a href="#"
                  phx-click="sort"
                  phx-value-by="date"
                  phx-target="<%= @myself %>"
                >
                Date <%= show_sort_icon(:date, @by, @dir) %>
              </a>
            </th>
            <th class="has-text-right">
              <a href="#"
                  phx-click="sort"
                  phx-value-by="confirmed"
                  phx-target="<%= @myself %>">
                Confirmed <%= show_sort_icon(:confirmed, @by, @dir) %>
              </a>
            </th>
            <th class="has-text-right">
              <a href="#" phx-click="sort" phx-value-by="new_confirmed" phx-target="<%= @myself %>">
                New Cases <%= show_sort_icon(:new_confirmed, @by, @dir) %>
              </a>
            </th>
            <th class="has-text-right">
              <a href="#" phx-click="sort" phx-value-by="active" phx-target="<%= @myself %>">
                Active <%= show_sort_icon(:active, @by, @dir) %>
              </a>
            </th>
            <th class="has-text-centered">
              <a href="#" phx-click="sort" phx-value-by="recovered" phx-target="<%= @myself %>">
                Recovered <%= show_sort_icon(:recovered, @by, @dir) %>
              </a>
            </th>
            <th class="has-text-centered">
              <a href="#" phx-click="sort" phx-value-by="deaths" phx-target="<%= @myself %>">
                Deaths <%= show_sort_icon(:deaths, @by, @dir) %>
              </a>
            </th>
            <th class="has-text-centered">
              <a href="#" phx-click="sort" phx-value-by="new_deaths" phx-target="<%= @myself %>">
                New Deaths <%= show_sort_icon(:new_deaths, @by, @dir) %>
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          <%= for {d, idx} <- sorted(@data, @by, @dir) do %>
            <tr>
              <td><%= idx %></td>
              <td><%= Helpers.format_date(d.date) %></td>
              <td class="has-text-weight-semibold has-text-right"><%= Helpers.format_number(d.confirmed) %></td>
              <td class="has-text-weight-semibold has-text-right"><%= Helpers.format_number(d.new_confirmed) %></td>
              <td class="has-text-weight-semibold has-text-right"><%= Helpers.format_number(d.active) %></td>
              <td class="has-background-primary has-text-weight-semibold has-text-centered"><%= Helpers.format_number(d.recovered) %></td>
              <td class="has-text-weight-semibold has-text-centered"><%= Helpers.format_number(d.deaths) %></td>
              <td class="has-background-danger has-text-weight-semibold has-text-centered"><%= Helpers.format_number(d.new_deaths) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
