<div class="card">
  <div class="card-content">
    <p class="title is-4 has-text-centered"><%= @data.date |> fmt() %></p>
    <p class="subtitle has-text-centered">Summary</p>
    <table class="table is-fullwidth">
      <tbody>
        <%= if Map.get(@data, :number_of_countries) do %>
          <tr>
            <th class="has-text-left" style="vertical-align: middle">Countries/Regions</th>
            <td class="has-text-right">
              <p><%= @data.number_of_countries |> fmt() %></p>
              <p class="heading has-text-weight-bold has-text-danger">(<%= @data.number_of_states %> areas)</p>
            </td>
          </tr>
        <% end %>
        <tr>
          <th class="has-text-left" style="vertical-align: middle">Confirmed</th>
          <td class="has-text-right">
            <p><%= @data.confirmed |> fmt() %></p>
            <p class="heading has-text-weight-bold">(<%= @data.new_confirmed |> fmt(:signed) %>)</p>
          </td>
        </tr>
        <tr>
          <th class="has-text-left" style="vertical-align: middle">Recovered</th>
          <td class="has-text-right">
            <p><%= @data.recovered |> fmt() %></p>
            <p class="heading has-text-weight-bold has-text-success">(<%= @data.new_recovered |> fmt(:signed) %>)</p>
          </td>
        </tr>
        <tr>
          <th class="has-text-left" style="vertical-align: middle">Active</th>
          <td class="has-text-right">
            <p><%= @data.active |> fmt() %></p>
            <p class="heading has-text-weight-bold">(<%= @data.new_active |> fmt(:signed) %>)</p>
          </td>
        </tr>
        <tr>
          <th class="has-text-left" style="vertical-align: middle">Deaths</th>
          <td class="has-text-right">
            <p><%= @data.deaths |> fmt() %></p>
            <p class="heading has-text-weight-bold has-text-danger">(<%= @data.new_deaths |> fmt(:signed) %>)</p>
          </td>
        </tr>
        <tr>
          <th class="has-text-left" style="vertical-align: middle">Source</th>
          <td class="has-text-right">
            <p><%= @data.src |> get_filename() %></p>
            <p class="heading has-text-weight-bold has-text-danger">
              <a target="_blank" href="<%= @data.src |> extract_link() %>">
                <i class="fas fa-external-link-alt"></i>
                Link
              </a>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
